# Notebook Title
---
Description

---
## Notebook Section

### Notebook Subsection

Markdown commentary.

In [29]:
# imports 
import pandas as pd
import numpy as np

In [30]:
data = pd.read_csv('../data/data_final.csv')
data.head()

,state,year,total_pop,white_pop,black_pop,hispanic_pop,asian_pop,native_pop,islander_pop,multi_race_pop,...,crude_rate_od,crimes_against_society,fraud_and_other_financial_crimes,property_crime,violent_crime,youth_not_in_school,youth_in_foster_care,youth_living_in_poverty,total_crime_count,log_total_crime_count
0,AL,2022,4916000,0.645,0.252,0.0480,0.0140,0.002,0.0,0.039,...,12.5,4804.0,913.5,6430.5,7584.5,73000.0,819.25,240000.000000,19732.5,9.890073
1,AL,2021,4900800,0.644,0.255,0.0470,0.0130,0.004,0.0,0.037,...,14.6,3236.5,618.0,5552.0,5527.5,86000.0,819.25,245000.000000,14934.0,9.611463
2,AL,2020,4833950,0.649,0.260,0.0455,0.0135,0.004,0.0,0.028,...,12.8,327.0,45.0,325.0,419.5,82000.0,819.25,249833.333333,1116.5,7.018849
3,AL,2019,4767100,0.654,0.265,0.0440,0.0140,0.004,0.0,0.019,...,8.3,94.0,30.5,171.0,108.5,74000.0,800.00,228000.000000,404.0,6.003887
4,AL,2018,4752600,0.656,0.265,0.0430,0.0130,0.010,0.0,0.019,...,6.7,33.0,15.5,37.0,52.5,86000.0,829.00,255000.000000,138.0,4.934474

In [31]:
data.isna().sum()

state                               0
year                                0
total_pop                           0
white_pop                           0
black_pop                           0
hispanic_pop                        0
asian_pop                           0
native_pop                          0
islander_pop                        0
multi_race_pop                      0
median_income                       0
poverty_rate                        0
unemployment_rate                   0
unemployed_15_weeks                 0
labor_force_participation_rate      0
hs_grad_rate                        0
bachelors_grad_rate                 0
zhvi                                0
crude_rate_suicide                  0
crude_rate_od                       0
crimes_against_society              0
fraud_and_other_financial_crimes    0
property_crime                      0
violent_crime                       0
youth_not_in_school                 0
youth_in_foster_care                0
youth_living_in_poverty             0
total_crime_count                   0
log_total_crime_count               0
dtype: int64

In [35]:
# Create interaction terms
data['youth_school_poverty_interaction'] = data['youth_not_in_school'] * data['youth_living_in_poverty']

# Display the first few rows of the dataset with new interaction terms to verify
data[['youth_school_poverty_interaction']].head()

   youth_school_poverty_interaction
0                      1.752000e+10
1                      2.107000e+10
2                      2.048633e+10
3                      1.687200e+10
4                      2.193000e+10

In [36]:
final_data = data.to_csv('../data/data.csv',index=False)

In [37]:
%store final_data

Stored 'final_data' (NoneType)